[Desktop Entry]
Version=1.0
Type=Application
Name=Boot to EmulationStation
Comment=
Exec=/home/pi/RetroPie/retropiemenu/Microplay/Boot_to_ES.SH
Icon=/home/pi/RetroPie/retropiemenu/icons2/emulationstation.png
Path=
Terminal=false
StartupNotify=false
Name[en_US.UTF-8]=Default boot to ES
X-XFCE-Source=file:///home/pi/Desktop/Boot%20to%20EmulationStation.desktop
