[Unit]
Description=ORANGEPI CONTROLLER
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/RetroPie/retropiemenu/Microplay/GPIO/drivers/DRIVER_NAME.py  > /home/pi/RetroPie/retropiemenu/Microplay/GPIO/drivers/DRIVER_NAME.log

[Install]
WantedBy=multi-user.target
