[Desktop Entry]
Version=1.0
Type=Application
Name=Retroarch
Comment=
Exec=/home/pi/RetroPie/retropiemenu/Microplay/Boot_to_Retroarch.SH
Icon=/home/pi/RetroPie/retropiemenu/icons2/retroarch.png
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///home/pi/Desktop/Retroarch.desktop
