[Desktop Entry]
Version=1.0
Type=Application
Name=EmulationStation
Comment=Boot to EmulationStation by default
Exec=/home/pi/RetroPie/retropiemenu/Microplay/Boot_to_ES.SH
Icon=/home/pi/RetroPie/retropiemenu/icons2/emulationstation.png
Path=
Terminal=false
StartupNotify=false
